.gallery {
  min-height: 200px;
}

.gallery__list {
  margin-top: -20px;
  margin-left: -20px;

  @media screen and(min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    // row-gap: 32px;
    // column-gap: 32px;
    // margin-left: -32px;
    //   margin-top: -32px;
  }
}

.gallery__item {

  margin-top: 20px;
  margin-left: 20px;

  @media screen and(min-width: 768px) {
    flex-basis: calc(100% / 2 - 32px);
    margin-left: 32px;
    margin-top: 32px;
  }

  @media screen and(min-width: 1024px) {
    flex-basis: calc(100% / 3 - 16px);
    margin-left: 16px;
  }
}


.gallery__item-info-wrap {
  display: flex;
  align-items: baseline;
}

.gallery__item-name {
  text-transform: uppercase;
}

.gallery__item-name {
  margin-top: 10px;
  font-weight: 500;
  font-size: 12px;
  margin-bottom: 3px;
  text-align: left;
}

.gallery__img {
  width: 280px;
  height: 420px;

  @media screen and(min-width: 768px) {
    width: 330px;

  }

  @media screen and(min-width: 1024px) {
    width: 310px;
  }
}

.gallery__item-genres,
.gallery__item-year {
  font-weight: 500;
  font-size: 12px;
  color: #ff6b01;
}

.gallery__item-year {
  margin-left: 5px;
}

.gallery_item-rating {
  width: 36px;
  height: 16px;
  border-radius: 5px;
  font-size: 12px;
  line-height: (16 / 12);
  color: #ffffff;
  background-color: #ff6b01;
  margin-left: 5px;
  text-align: center;
}