.gallery {
  min-height: 70vh;
  // min-height: 200px;
}

.gallery__list {
  // margin-top: -20px;
  // margin-left: -20px;

  @media screen and(min-width: 768px) {
    display: flex;
    flex-wrap: wrap;

    margin-left: -30px;
      margin-top: -30px;
  }

  // @media screen and(min-width: 1024px) {
  //   margin-left: -16px;
  //   margin-top: -32px;
  // }
}

.gallery__item {

  // margin-top: 20px;
  // margin-left: 20px;

  &-img {
      max-width: 100%;
      height: 398px;
      overflow: hidden;
    }

  @media screen and(max-width: 767.98px) {
    margin-bottom: 20px;
    // &-img {
    //   // width: 280px;
    //   width: 100%;
    //   min-height: 398px;
    // }
  }
  @media screen and(min-width: 768px) {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
    margin-top: 30px;
    // &-img {
    //   // width: 336px;
    //   width: 100%;
    //   // height: 455px;
    // }
  }

  @media screen and(min-width: 1024px) {
    flex-basis: calc(100% / 3 - 30px);
    // flex-basis: calc(100% / 3 - 16px);
    // margin-left: 16px;
    // &-img {
    //   // width: 309px;
    //   // height: 449px;
    //   // min-height: 398px;
    //   width: 100%;
    // }
  }
  
}

// .gallery__item:not(:last-child){
//   margin-bottom: 20px;
// }


.gallery__item-info-wrap {
  display: flex;
  align-items: baseline;
}

.gallery__item-name {
  text-transform: uppercase;
  color: $secondary-title-color;
}
// dark theme styles 
body.dark-theme {

  .gallery__item-name {
      color: $main-title-color;
  }
}
// 

.gallery__item-name {
  margin-top: 10px;
  font-weight: 500;
  font-size: 12px;
  margin-bottom: 3px;
  text-align: left;
}

.gallery__img {
  // width: 100%;
  // height: 100%;
  object-fit: fill;
  border-radius: 5px;
}

.gallery__item-genres,
.gallery__item-year {
  font-weight: 500;
  font-size: 12px;
  color: $main-accent-color;
}

.gallery__item-year {
  margin-left: 5px;
}

.gallery_item-rating {
  width: 36px;
  height: 16px;
  border-radius: 5px;
  font-size: 12px;
  line-height: (16 / 12);
  color: $main-title-color;
  background-color: $main-accent-color;
  margin-left: 5px;
  text-align: center;
}