.header-logo {
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
  margin-bottom: 44px;
  align-items: center;
  @media screen and (min-width: 768px) {
    padding-top: 35px;
    margin-bottom: 30px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

.header-logo_link {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.header-logo__text {
  display: none;
}
@media screen and (min-width: 768px) {
  .header-logo__text {
    display: inline-block;
    margin-left: 8px;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: calc(35 / 30);
    color: #ffffff;
  }
}

.header-nav {
  margin-left: auto;
}

.header-list {
  display: flex;
  list-style: none;
  padding: 0;
  align-items: center;
}

.header-list__item:not(:last-child) {
  margin-right: 39px;
}

.header-list__btn {
  /* // position: relative; */
  padding: 0;
  padding-bottom: 10px;
  padding-top: 10px;
  /* // padding-bottom: 5px; */
  /* // padding-top: 5px; */
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: calc(14 / 12);
  display: flex;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.current-page {
  position: relative;
}
.current-page::after {
  content: '';
  display: inline-block;
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 100%;
  background-color: #ff6b08;
  border: 2px solid #ff6b08;
  border-radius: 2px;
}

// ================ форма ===============================

.header-form {
  display: flex;
  justify-content: center;
  padding-bottom: 92px;
  padding-left: 20px;
  padding-right: 20px;
  //   width: 280px;
  @media screen and (min-width: 768px) {
    padding-bottom: 80px;
  }
}

.header-input__wrap {
  position: relative;
  border-bottom: 0.5px solid #ffffff;
  align-items: center;
  height: 22px;
  width: 280px;
  @media screen and (min-width: 768px) {
    width: 336px;
  }
}
.header-input {
  border: none;
  outline: none;
  background-color: transparent;
  width: 100%;
  color: #ffffff;
}

.header-input::placeholder {
  color: #ffffff;
}

.header-form__button {
  background-color: transparent;
  border: none;
  width: 20px;
  height: 20px;
}
.header-search-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 2px;
  width: 15px;
  height: 15px;
  fill: #ffffff;
}

.is-hidden {
  display: none;
}

// ================Стили LIBRARY==================

// .library-btn-wrap,
.library-list {
  padding: 0px;
  padding-top: 6px;
  padding-bottom: 62px;
  display: flex;
  justify-content: center;
  list-style: none;
  @media screen and (min-width: 768px) {
    padding-bottom: 60px;
  }
}

.library-item:not(:last-child) {
  margin-right: 20px;
  @media screen and (min-width: 768px) {
    margin-right: 32px;
  }
  @media screen and (min-width: 1024px) {
    margin-right: 16px;
  }
}

.library-btn {
  width: 130px;
  height: 44px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  background-color: transparent;
  color: #fff;
  @media screen and (min-width: 768px) {
    width: 152px;
  }
  @media screen and (min-width: 1024px) {
    width: 148px;
    height: 42px;
  }
}

// ============ Стили background ========================

.home {
  background-color: antiquewhite;
  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url(../images/hero-img/hero-home-mob-1x-min.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/hero-img/hero-home-mob-2x-min.jpg);
  }

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/hero-img/hero-home-tab-1x-min.jpg);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
        url(../images/hero-img/hero-home-tab-2x-min.jpg);
    }
  }

  @media screen and (min-width: 1024px) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/hero-img/hero-home-desc-1x-min.jpg);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
        url(../images/hero-img/hero-home-desc-2x-min.jpg);
    }
  }
}

.library {
  background-color: antiquewhite;
  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url(../images/hero-img/hero-library-mob-1x-min.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/hero-img/hero-library-mob-2x-min.jpg);
  }

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/hero-img/hero-library-tab-1x-min.jpg);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
        url(../images/hero-img/hero-library-tab-2x-min.jpg);
    }
  }

  @media screen and (min-width: 1024px) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/hero-img/hero-library-desk-1x-min.jpg);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
        url(../images/hero-img/hero-library-desk-1x-min.jpg);
    }
  }
}
