.header {
    // width: 100%;
    position: absolute;
    top: 0;
    background-color: black;
    padding-top: 40px;
    padding-bottom: 40px;

    @media screen and (min-width: 768px) {
        min-width: 768px;
        padding-top: 45px;
    }
}

.header__wrap {
    display: flex;
    align-items: center;
    height: 24px;

}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo__text {
    display: none;

    @media screen and (min-width: 768px) {
        display: inline-block;
        margin-left: 8px;
        font-style: normal;
        font-weight: 500;
        font-size: 30px;
        line-height: 0.857;
        color: #FFFFFF;
    }
}

.menu {
    margin-left: auto;
}

.menu__list {
    display: flex;
    list-style: none;
    padding: 0;
}

.menu__item:not(:last-child) {
    margin-right: 39px;
}

.menu__btn {
    padding: 0;
    padding-bottom: 1px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 0.85;
    display: flex;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.menu__btn:hover {
    border-bottom: 3px solid #FF6B08;
}

.menu__btn:active {
    border-bottom: 3px solid #FF6B08;
}