body {
  background-repeat: repeat;
  background-size: 250px 250px;
}

body.light-theme {
  background-image: url(../images/hero-film/bg_pattern_light.svg);
  background-color: $body-background-color;
  color: $secondary-title-color;
}

body.dark-theme {
  background-image: url(../images/hero-film/bg_pattern_dark.svg);
  background-color: $header-background-color;
  
  color: $main-title-color;
  
}


.toolbar {
  display: flex;
  justify-content: flex-end;
  padding: 16px 24px;
}

/* THEME SWITCH */
.theme-switch {
  display: flex;
  align-items: center;
}



// .theme-switch__icon2 {
//   fill: $main-title-color;
//   height: 100%;
//   // height: 24px;
//   // width: 24px;
//   margin-right: 4px;
//   margin-left: 4px;
// }

.theme-switch__control {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  position: relative;
  width: 45px;
  height: 22px;
  border-radius: 50em;
  padding: 3px 0;
}

.theme-switch__toggle {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
  height: 0;
  width: 0;
  pointer-events: none;
}

.theme-switch__track {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  left: 0;
  top: 0;
  width: 36px;
  height: 18px;
  color: transparent;
  user-select: none;
  background-color: $toggle-mode-color;
  border-radius: inherit;
  z-index: 1;
  cursor: pointer;
  // transition: background-color 250ms $timing-function;
}


.theme-switch__icon1 {
  position: relative;
  color: currentColor;
  // height: 80%;
  height: 16px;
  width: 16px;
  top: -2px;
  // height: 24px;
  // width: 24px;
  margin-right: 4px;
  margin-left: 4px;
  z-index: 3;
  transform: translateX(-2px);
  // transition: transform 250ms $timing-function, fill 250ms $timing-function;
  fill: $main-title-color;
    pointer-events: none;
}

.transition-icon {
  transition: transform 250ms $timing-function, fill 250ms $timing-function;
}



// .theme-switch__marker {
  
//   position: relative;
//   background-color: $main-accent-color;

//   width: 23.5px;
//   height: 23.5px;
//   border-radius: 50%;
//   z-index: 2;
//   pointer-events: none;
//   box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
//   transform: translateX(-5px);
//   transition: transform 250ms $timing-function;
// }

// .theme-switch__toggle:checked ~ .theme-switch__track {
//   background-color: #d3d3d4;

// }

// .theme-switch__toggle:checked ~ .theme-switch__marker {
//   transform: translateX(18px);
// }

body.dark-theme {

  .theme-switch__track {
    background-color:$theme-switch-dark-color;
  }

  .theme-switch__icon1 {
    transform: translateX(14px);
    fill: $secondary-title-color;
  }
}

// .theme-switch__toggle:checked ~ .theme-switch__icon1 {
  // transform: translateX(14px);
  // fill: black;

// } 


.theme-switch__toggle:focus + .theme-switch__track,
.theme-switch__toggle:active + .theme-switch__track {
  box-shadow: 0 0 0 2px $main-accent-color;
}
