<li class="modal-buttons__item">
    <button class="watched-btn" name = "watched">{{watchedText}}</button>
        {{!-- Add to watched --}}
</li>
    <li class="modal-buttons__item">
        <button class="queue-btn">{{queue}}</button>
    </li>