<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="css/scrollToTop.css" />
  </head>
  <body>
    <div class="stt stt__block_black"></div>

    <script src="js/scrollToTop-min.js"></script>
  </body>
</html> -->

<div class="stt stt__block_black"></div>

<script src="./js/components/arrow-button.js"></script>
