$main-font: Roboto, sans-serif;
$secondary-font: Raleway, sans-serif;

$primary-txt: #757575;
$secondary-txt: #212121;
$accent-txt: #2196f3;

// Buttons
$primary-btn-txt: #212121;
$primary-btn-bgc: #f5f4fa;
$secondary-btn-txt: #ffffff;
$secondary-btn-bgc: #2196f3;
$secondary-btn-bgc--accent: #188ce8;

// Backgrounds
$primary-bg: #fff;
$secondary-bg: #f5f4fa;
$footer-bgc: #2f303a;

$hover-accent: #2196f3;