<section>
<div class="gallery container">
    <ul class="gallery__list" id="filmGallery">
        <!-- <li class="gallery__item">
           <a href="">
            <img class="gallery__img" src="https://i.ibb.co/smrvz1b/Rectangle-5.png" alt="">
            <div class="gallery__item-info">
                <h3 class="gallery__item-name">
                GREYHOUND </h3>
                <div class="gallery__item-info-wrap">
                <p class="gallery__item-genres">
                    Drama, actions
                </p>
                <span class="gallery__item-year">| 2020</span>
                <span class="gallery_item-rating">10</span>
                </div>
            </div>
           </a>
        </li>
        <li class="gallery__item">
            <a href="">
                <img class="gallery__img" src="https://i.ibb.co/smrvz1b/Rectangle-5.png" alt="">
                <div class="gallery__item-info">
                    <h3 class="gallery__item-name">
                        GREYHOUND </h3>
                    <div class="gallery__item-info-wrap">
                        <p class="gallery__item-genres">
                            Drama, actions
                        </p>
                        <span class="gallery__item-year">| 2020</span>
                        <span class="gallery_item-rating">10</span>
                    </div>
                </div>
            </a>
        </li>
        <li class="gallery__item">
            <a href="">
                <img class="gallery__img" src="https://i.ibb.co/smrvz1b/Rectangle-5.png" alt="">
                <div class="gallery__item-info">
                    <h3 class="gallery__item-name">
                        GREYHOUND </h3>
                    <div class="gallery__item-info-wrap">
                        <p class="gallery__item-genres">
                            Drama, actions
                        </p>
                        <span class="gallery__item-year">| 2020</span>
                        <span class="gallery_item-rating">10</span>
                    </div>
                </div>
            </a>
        </li>
        <li class="gallery__item">
            <a href="">
                <img class="gallery__img" src="https://i.ibb.co/smrvz1b/Rectangle-5.png" alt="">
                <div class="gallery__item-info">
                    <h3 class="gallery__item-name">
                        GREYHOUND </h3>
                    <div class="gallery__item-info-wrap">
                        <p class="gallery__item-genres">
                            Drama, actions
                        </p>
                        <span class="gallery__item-year">| 2020</span>
                        <span class="gallery_item-rating">10</span>
                    </div>
                </div>
            </a>
        </li>
        <li class="gallery__item">
            <a href="">
                <img class="gallery__img" src="https://i.ibb.co/smrvz1b/Rectangle-5.png" alt="">
                <div class="gallery__item-info">
                    <h3 class="gallery__item-name">
                        GREYHOUND </h3>
                    <div class="gallery__item-info-wrap">
                        <p class="gallery__item-genres">
                            Drama, actions
                        </p>
                        <span class="gallery__item-year">| 2020</span>
                        <span class="gallery_item-rating">10</span>
                    </div>
                </div>
            </a>
        </li> -->
    </ul>
</div>
</section>