<section>

<div class="gallery container">
    <ul class="gallery__list">
        <li class="gallery__item">
        
          
          
            <a href="">
            <picture>
                <source srcset="https://i.ibb.co/7VRCzLd/Rectangle-5-1.png" media="(min-width: 1200px)">
                <source srcset="https://i.ibb.co/N6HXYrV/Rectangle-5.png" media="(min-width: 768px)">
                <img srcset="https://i.ibb.co/smrvz1b/Rectangle-5.png">
                <!-- <img src="https://i.ibb.co/smrvz1b/Rectangle-5.png" alt=""> -->
            </picture>
            <div class="gallery__item-info">
                <h3 class="gallery__item-name">
                GREYHOUND </h3>
                <div class="gallery__item-info-wrap">
                <p class="gallery__item-genres">
                    Drama, actions
                </p>
                <span class="gallery__item-year">| 2020</span>
                <span class="gallery_item-rating">10</span>
                </div>
            </div>
           </a>
        </li>
        <li class="gallery__item">
            <a href="">
                <picture>
                    <source srcset="https://i.ibb.co/7VRCzLd/Rectangle-5-1.png" media="(min-width: 1200px)">
                    <source srcset="https://i.ibb.co/N6HXYrV/Rectangle-5.png" media="(min-width: 768px)">
                    <img srcset="https://i.ibb.co/smrvz1b/Rectangle-5.png">
                    <!-- <img src="https://i.ibb.co/smrvz1b/Rectangle-5.png" alt=""> -->
                </picture>
                <div class="gallery__item-info">
                    <h3 class="gallery__item-name">
                        GREYHOUND </h3>
                    <div class="gallery__item-info-wrap">
                        <p class="gallery__item-genres">
                            Drama, actions
                        </p>
                        <span class="gallery__item-year">| 2020</span>
                        <span class="gallery_item-rating">10</span>
                    </div>
                </div>
            </a>
        </li>
        <li class="gallery__item">
            <a href="">
                <picture>
                    <source srcset="https://i.ibb.co/7VRCzLd/Rectangle-5-1.png" media="(min-width: 1200px)">
                    <source srcset="https://i.ibb.co/N6HXYrV/Rectangle-5.png" media="(min-width: 768px)">
                    <img srcset="https://i.ibb.co/smrvz1b/Rectangle-5.png">
                    <!-- <img src="https://i.ibb.co/smrvz1b/Rectangle-5.png" alt=""> -->
                </picture>
                <div class="gallery__item-info">
                    <h3 class="gallery__item-name">
                        GREYHOUND </h3>
                    <div class="gallery__item-info-wrap">
                        <p class="gallery__item-genres">
                            Drama, actions
                        </p>
                        <span class="gallery__item-year">| 2020</span>
                        <span class="gallery_item-rating">10</span>
                    </div>
                </div>
            </a>
        </li>
        <li class="gallery__item">
            <a href="">
                <picture>
                    <source srcset="https://i.ibb.co/7VRCzLd/Rectangle-5-1.png" media="(min-width: 1200px)">
                    <source srcset="https://i.ibb.co/N6HXYrV/Rectangle-5.png" media="(min-width: 768px)">
                    <img srcset="https://i.ibb.co/smrvz1b/Rectangle-5.png">
                    <!-- <img src="https://i.ibb.co/smrvz1b/Rectangle-5.png" alt=""> -->
                </picture>
                <div class="gallery__item-info">
                    <h3 class="gallery__item-name">
                        GREYHOUND </h3>
                    <div class="gallery__item-info-wrap">
                        <p class="gallery__item-genres">
                            Drama, actions
                        </p>
                        <span class="gallery__item-year">| 2020</span>
                        <span class="gallery_item-rating">10</span>
                    </div>
                </div>
            </a>
        </li>
        <li class="gallery__item">
            <a href="">
                <picture>
                    <source srcset="https://i.ibb.co/7VRCzLd/Rectangle-5-1.png" media="(min-width: 1200px)">
                    <source srcset="https://i.ibb.co/N6HXYrV/Rectangle-5.png" media="(min-width: 768px)">
                    <img srcset="https://i.ibb.co/smrvz1b/Rectangle-5.png">
                    <!-- <img src="https://i.ibb.co/smrvz1b/Rectangle-5.png" alt=""> -->
                </picture>
                <div class="gallery__item-info">
                    <h3 class="gallery__item-name">
                        GREYHOUND </h3>
                    <div class="gallery__item-info-wrap">
                        <p class="gallery__item-genres">
                            Drama, actions
                        </p>
                        <span class="gallery__item-year">| 2020</span>
                        <span class="gallery_item-rating">10</span>
                    </div>
                </div>
            </a>
        </li>
    </ul>
</div>
</section>