<section class="header">
  <div class="button-wrap">
    <button type="button" class="header-home-button btn">HOME</button>
    <button type="button" class="header-library-button btn">LIBRARY</button>
  </div>
</section>

<section class="hero-home">
  <!-- <div class="hero-home-container">
    <form class="search-form" id="search-form">
      <div class="input-wrap">
        <input
          class="input"
          type="text"
          name="searchQuery"
          autocomplete="off"
          placeholder="Search films..."
        />
        <button class="button" type="submit">
          <svg class="search" width="15" height="15">
            <use href="./images/symbol-defs.svg#icon-search"></use>
          </svg>
        </button>
      </div>
    </form>
  </div> -->
</section>
<!-- <section class="hero-library">
  <div class="hero-library-container">
    <div class="library-btn-wrap">
      <button class="hero-watched-button hero-library-btn" type="button">WATCHED</button>
      <button class="hero-queue-button hero-library-btn" type="button">QUEUE</button>
    </div> -->
  </div>
</section>
