<header class="header">
    <div class="container">
        <div class="header__wrap">
            <a href="index.html" class="logo">
                <svg class="menu-icon" width="24" height="24">
                    <use href="./images/symbol-defs.svg#icon-logo"></use>
                </svg>
                <span class="logo__text">Filmoteka</span>
            </a>
            <nav class="menu">
                <ul class="menu__list">
                    <li class="menu__item">
                        <button class="menu__btn"><span class="menu__btn__text current-page">Home</span></button>
                    </li>
                    <li class="menu__item">
                        <button class="menu__btn"><span class="menu__btn__text">my library</span></button>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>