<footer>
    <div class="footer-wrap">
        <p>©  2022 | All Rights Reserved |&nbsp;</p>
        <div class="footer-developed">
            <p>Developed with </p>
            <svg class="footer-heart-icon" width="20" height="20">
                <use href="./images/icons.svg#icon-heart"></use>
            </svg>

            <div class="anime-wrap">
                <a data-x="3" data-y="-355" class="anime anime-pointer-off" href="https://github.com/Stanislav-Sobolev" target="_blank"><img class="student" src="./images/footer-students/stanislav-sobolev.png" alt="Developer Stanislav Sobolev"></a>
                <a data-x="-22" data-y="-780" class="anime anime-pointer-off" href="https://github.com/Yevhen777" target="_blank"><img class="student" src="./images/footer-students/euginiy-altuxov.png" alt="Developer Euginiy Altuxov"></a>
                <a data-x="-50" data-y="-1100" class="anime anime-pointer-off" href="https://github.com/PlatinumKellerman" target="_blank"><img class="student" src="./images/footer-students/volodimir-bondarenko.png" alt="Developer Volodimir Bondarenko"></a>
                <a data-x="-64" data-y="-1760" class="anime anime-pointer-off" href="https://github.com/Olena-Milham" target="_blank"><img class="student" src="./images/footer-students/olena-milham.png" alt="Developer Olena Milham"></a>
              
                <a data-x="-32" data-y="-2150" class="anime anime-pointer-off" href="https://github.com/AlexandrRust" target="_blank"><img class="student" src="./images/footer-students/alexandr-popov.png" alt="Developer Stanislav Sobolev"></a>
                <a data-x="-3" data-y="-1650" class="anime anime-pointer-off" href="https://github.com/rostykwave" target="_blank"><img class="student" src="./images/footer-students/rostyslav-kovalchuk.png" alt="Developer and Team Lead Rostyslav Kovalchuk"></a>
                <a data-x="25" data-y="-2100" class="anime anime-pointer-off" href="https://github.com/DribDrob" target="_blank"><img class="student" src="./images/footer-students/liudmyla-drobushenko.png" alt="Developer and Scrum Master Liudmyla Drobushenko"></a>
                
                <a data-x="58" data-y="-1790" class="anime anime-pointer-off" href="https://github.com/vitalichUA" target="_blank"><img class="student" src="./images/footer-students/yevhenii-troian.png" alt="Developer Yevhenii Troian"></a>
                <a data-x="50" data-y="-1150" class="anime anime-pointer-off" href="https://github.com/Tatianayarchenko" target="_blank"><img class="student" src="./images/footer-students/tetiana-yarchenko.png" alt="Developer Tetiana Yarchenko"></a>
                <a data-x="26" data-y="-728" class="anime anime-pointer-off" href="https://github.com/Pusttak" target="_blank"><img class="student" src="./images/footer-students/anton-kostenko.png" alt="Developer Anton Kostenko"></a>
                
           </div>
            
            <span>by&nbsp;<span class="footer-team-popup">GoIT Students</span></span>
        </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js" integrity="sha512-z4OUqw38qNLpn1libAN9BsoDx6nbNFio5lA6CuTp9NlK83b89hgyCVq+N5FdBJptINztxn1Z3SaKSKUS5UP60Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="./js/components/modal-footer-GoIT-Students.js" type="module"></script>
</footer>