<footer>
    <div class="footer-wrap">
        <p>©  2020 | All Rights Reserved |&nbsp;</p>
        <div class="footer-developed">
            <p>Developed with </p>
            <!-- <svg class="heart-icon" width="20" height="20">
                <use href="./images/Vector_heart.svg"></use>
            </svg> -->
            
            <!-- <object class="heart-icon" data="./images/Vector_heart.svg" width="14" height="13"></object> -->
            
            <span>by&nbsp;<span class="team-popup">GoIT Students</span></span>
        </div>
</div>


</footer>