.gallery{
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;

    padding: 15px;
}
.photo-card{
    flex-basis: calc(100%/4 - 30px);
    margin-left: 30px;
    margin-top: 30px;
}

.photo-card__link{
    text-decoration: none;
    
    color: inherit;
}