.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    pointer-events: visible;
    overflow-y: auto;
    z-index: 3;

}

.overflow-hidden {
    overflow: hidden;
}

.is-hidden {
    visibility: hidden;
    opacity: 1;
    pointer-events: none;
}

.filmCardModal-container {
    position: absolute;
    display: block;
    left: 50%;
    top: 65%;
    transform: scale(1) translate(-50%, -50%);
    margin-right: auto;
    margin-left: auto;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    display: block;
    background-color: $body-background-color;
    padding: 48px 20px 40px 20px;
}

// dark theme 
body.dark-theme {
    .filmCardModal-container{
        background-color: $header-background-color;
        color:$main-title-color
    }
}
// 

.modal-close_button {
    position: absolute;
    background: transparent;
    :hover,
    :focus,
    :active {
        border-radius: 50%;
        transition-duration: 300ms; 
        transition-timing-function: $timing-function;
        border: 1px solid $main-accent-color;
    }
}

.modal-poster-img {
    border-radius: 5px;
    display: block;
    max-width: 100%;
    margin: 0;
}

.picture-wrapper {
    border-radius: 5px;
    width: 240px;
    cursor: pointer;
}

.film-title {
    font-size: 20px;
    line-height: 1.15;
    margin-top: 30px;
    text-align: start;
}

.lists-wrapper {
    display: flex;
    margin-top: 20px;
    font-size: 12px;
    text-align: start;
    }

.properties-list {
    list-style: none;
    padding-right: 40px;
}

.properties-list__item {
    padding-bottom: 10px;
    font-style: normal;
    font-size: 12px;
    line-height: 1.33;
    color: $modal-window-accent-color;
    text-align: start;
}
.properties-list__item:last-child {
    padding-bottom: 0;
}

.values-list {
    display: block;
    list-style: none;
    font-size: 12px;
    line-height: 1.33;
    text-align: start;
}

.values-list__item {
    padding-bottom: 10px;
    font-size: 12px;
    line-height: 1.33;
}
.values-list__item:last-child {
    padding-bottom: 0;
}

.values-list__item-vote {
    padding: 1px 10px;
    background-color: $main-accent-color;
    border-radius: 5px;
    margin-right: 3px;
    color: $main-title-color;
}
.vote-separator {
    color: $modal-window-accent-color;
}
.about-title {
    margin-top: 20px;
    font-size: 12px;
    line-height: 1.33;
    text-align: start;
}

.film-description {
    margin-top: 10px;
    margin-top: 20px;
    font-size: 12px;
    line-height: 1.66;
    text-align: start;
}

.modal-buttons__list {
    list-style: none;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.watched-btn {
    display: block;
    width: 112px;
    min-height: 44px;
    padding: 3px 8px 4px 8px;
    border-radius: 5px;
    color: $secondary-title-color;
    font-size: 12px;
    line-height: 1.33;
    text-transform: uppercase;
    background-color: $body-background-color;
    border: 1px solid;
        &:hover,
        &:focus,
        &:active {
        background-color: $main-accent-color;
        color: $main-title-color;
        border: none;
        transition-duration: 0.3s; 
        transition-timing-function: $timing-function;
        }
}
.queue-btn {
    display: block;
    width: 112px;
    min-height: 44px;
    padding: 12px 8px 12px 8px;
    border-radius: 5px;
    color: $secondary-title-color;
    font-size: 12px;
    line-height: 1.33;
    text-transform: uppercase;
    border: 1px solid;
        &:hover,
        &:focus,
        &:active {
        background-color: $main-accent-color;
        color: $main-title-color;
        border: none;
        transition-duration: 0.3s; 
        transition-timing-function: $timing-function;
        }
}

.modal-close_button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    }


    .movie-trailer-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    pointer-events: visible;
    overflow-y: auto;
}

.modal-movie-trailer-is-active {
    position: fixed;
    width: 100%;
    height: auto;
    left: 50%;
    top: 50%;
    transform: scale(1) translate(-50%, -50%);
    background-position: center;
    background-repeat: no-repeat;
    margin-right: auto;
    margin-left: auto;
}
.modal-movie-trailer-is-hidden {
    position: absolute;
    visibility: hidden;
    opacity: 1;
    pointer-events: none;
}

.player-logo {
position: absolute;
width: 32px;
height: 32px;
}

.iframe {
width: 280px;
height: 150px;
}

            /* ----------- MOBILE ----------- */

@media screen and (max-width: 319px) {
.filmCardModal-container {
    max-width: 280px;
}
}
@media screen and (min-width: 320px) and (max-width: 767px) {
.filmCardModal-container {
    width: 280px;
    height: auto;
}
}

            /* ----------- TABLET ----------- */

@media screen and (min-width: 768px) and (max-width: 1023px) {
.filmCardModal-container {
    display: flex;
    top: 50%;
    width: 618px;
    padding: 42px 30px 40px 28px;
}

.player-logo {
position: absolute;
width: 48px;
height: 48px;
}

.iframe {
width: 500px;
height: 300px;
}
.watched-btn {
    width: 125px;
    padding: 14px 10px 12px 10px;
}
.queue-btn {
    width: 125px;
    padding: 14px 8px 12px 8px;
}
.picture-wrapper {
    flex: 1;
}
.info-modal-card {
    flex: 1;
    margin-left: 32px;
}
.modal-buttons__list {
    margin-top: 40px;
}
.film-detail-modal-wrapper {
    display: flex;
}
}

            /* ----------- DESKTOP ----------- */

@media screen and (min-width: 1024px) {
.filmCardModal-container {
    display: flex;
    top: 50%;
    padding: 50px 30px 40px 30px;
    width: 885px;
}

.player-logo {
position: absolute;
width: 64px;
height: 64px;
}

.iframe {
width: 700px;
height: 400px;
}
.picture-wrapper {
    flex: 1;
}
.info-modal-card {
    flex: 1;
    margin-left: 30px;
}
.film-title {
    font-size: 30px;
    line-height: 1.16;
}
.watched-btn {
    width: 136px;
    padding: 14px 10px 12px 10px;
    margin-right: 15px;
}
.queue-btn {
    width: 136px;
    padding: 14px 8px 12px 8px;
}
.modal-buttons__list {
    display: flex;
    justify-content: flex-start;
}
.film-detail-modal-wrapper {
    display: flex;
}
}