.anime-wrap {
  position: absolute;
  transform: translateX(60px);
  // transform: translate(35px, 170px);
  z-index: 1;
  width: 120px;
  display: flex;
  flex-wrap: wrap;
  
 }

.anime {
    width: 2rem;
    height: 2rem;
    opacity: 0;
    margin-top: auto;
    margin-bottom: auto;
    mix-blend-mode: lighten;
  }


.anime-blue {
  background-color: blue;
}

.anime-green {
  background-color: green;
}

.anime-red {
  background-color: red;
}