.anime-wrap {
  position: absolute;
  transform: translateX(35px);
  z-index: 1;
  // position: relative;
  width: 120px;
  display: flex;
  flex-wrap: wrap;
  // background-color: red;

 }

.anime {
    width: 2rem;
    height: 2rem;
    opacity: 0;
    margin-top: auto;
    margin-bottom: auto;
    mix-blend-mode: lighten;
  }


.anime-blue {
  background-color: blue;
}

.anime-green {
  background-color: green;
}

.anime-red {
  background-color: red;
}