.pagination-wrap {
  min-width: 320px;
  margin: 40px 0;

  @media screen and (min-width: 768px) {
    margin: 60px 0;
  }
}

.pagination-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
}

.pagination-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  min-width: 40px;
  height: 40px;
  padding: 5px;
  border-radius: 5px;
  color: $secondary-title-color;
  stroke: $secondary-title-color;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s $timing-function;

  &:hover,
  &:focus {
    background-color: $main-accent-color;
    color: $main-title-color;
    stroke: $main-title-color;
  }
}

.pagination-btn--active {
  background-color: $main-accent-color;
  color: $main-title-color;
}

.pagination-btn--arrow {
  background-color: $footer-background-color;
  stroke: $secondary-title-color;
}

.pagination-btn--dots {
  display: block;
  height: 40px;
  font-size: 12px;
  line-height: 2.78;
  font-weight: 500;
  color: $secondary-title-color;
}

.pagination-btn--icon {
  pointer-events: none;
}

body.dark-theme {
  & .pagination-btn {
    background-color: $pagination-bg-dark-color;
    color: $main-title-color;

    &:hover,
    &:focus {
      background-color: $main-accent-color;
      color: $main-title-color;
      stroke: $main-title-color;
    }
  }

  & .pagination-btn--active {
    background-color: $main-accent-color;
    color: $main-title-color;
  }

  & .pagination-btn--arrow {
    background-color: $footer-background-color;
    stroke: $secondary-title-color;
  }

  & .pagination-btn--dots {
    color: $main-title-color;
  }
}
