html {
    scroll-behavior: smooth;
}

body {
    // font-family:
    font-style: normal;
    font-weight: 400;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0px;
    margin: 0;
}

h1,
h2,
h3,
p {
    margin: 0;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
}

button {
    display: block;
    padding: 0;
    border: none;
    cursor: pointer;
}


.nooverlay {

    overflow-y: hidden;
}
